@import '../../../../common/common';
//Layout
ual-report-list {
    display: block;
    height: 100%;
    .header {
        @include gridle( row row-align between);
    }
    .container {
      height: 100%;
      padding-top: 30px;
        .content-list {
            height: calc(100% - 100px);
            > .mCSB_inside > .mCSB_container {
                margin-right: 15px;
            }
            .table-reports {
              width: 100%;

              tr > td {
                vertical-align: middle;
                display: inline-block;
                padding: 4px 12px;

                > div {
                  display: block;
                  width: 100%;
                  @include ellipses();
                }
              }
            }
        }
    }
    .empty-list {
      @include gridle(row row-align middle center);
      height: 100%;
      margin-top: 175px;
    }
}

//Variations
ual-report-list {
    .header {
      @include gridle( row row-align between);

      >.title {
        @include font-clanot-bold(20);
        color: $color06;
      }
    }
    .table-reports {
      tr {
        border-bottom: 1px solid $color08;

        td {
          color: $color07;
          @include font-clanot-book(16);
          width: 25%;

          &.-link-report {
            width: 40%;
            color: $color03;

            > div > a {
              @include link();
            }
          }

          &.-right-actions {
            white-space: nowrap;
            width: 10%;

            @include -ms-browser(){
              width: 5%;
              padding: 4px 0 !important;
            }

            line-height: 1;
            > i {
              color: $color00;
              padding-left: 5px;
              font-size: 22px;
              display: inline-block;
              opacity: 0;
              opacity: 1 \9;
              /*just in case ie*/
              @include fadeIn();
              @include animation(fadeIn ease-in 1);
              @include animation-fill-mode(forwards);
              @include animation-duration(0.2s);
              margin-top: -1px;
              vertical-align: middle;
              &.ion-ios-close-empty {
                cursor: pointer;
                font-size: 32px;
              }
            }
          }
        }

        &:hover {
          cursor: pointer;
          //background-color: $color08;
          .-right-actions {
            > i {
              color: $color06;
            }
          }
        }
      }
    }
    .empty-list {
        @include font-clanot-book(14);
        color: $color07;
    }
}
