@import '../../../../common/common';
//Layout
ual-report-list {
  display: block;
  height: 100%;

  .header {
    @include gridle( row row-align between);
  }

  .container {
    height: 100%;
    padding-top: 30px;

    .toolbar-section {
      @include gridle( row row-align between middle);

      .row-options {
        @include font-clanot-book(16);
        @include gridle(8);

        .-items-selected {
          @include font-clanot-bold(16);
          padding-right: 4%;
          padding-left: 10px;
        }

        .-icon-option {
          i {
            color: $color07;
            padding-left: 14px;
            padding-right: 6px;
            vertical-align: middle;
            @include font-clanot-book(32);
          }

          span {
            @include link()
          }

          cursor: pointer;
        }
      }

      .row-count {
        @include gridle(4);
      }
    }

    .content-list {
      height: calc(100% - 100px);

      > .mCSB_inside > .mCSB_container {
        margin-right: 15px;
      }

      .table-reports {
        width: 100%;

        thead {
          border-top: 1px solid $color08;
          border-bottom: 1px solid $color08;
          padding: 12px;
        }

        tr {
          th {
            text-align: left;
            white-space: nowrap;
            width: 25%;
            display: inline-block;
            padding: 8px 12px;

            &:first-child {
              width: 3%;
            }

            &:nth-child(2) {
              width: 37%;
            }

            &.-modification-date {
              width: 22%;
            }

            &:last-child {
              width: 8%;
            }
          }

          td {
            vertical-align: middle;
            display: inline-block;
            padding: 4px 12px;

            &.-modification-date {
              width: 20%;
            }

            &.-right-actions {
              @media (max-width: 1024px) {
                padding: 0;
              }

              ual-tooltip {
                z-index: 10;
                top: -40px;
                left: -50px;
                visibility: hidden;
                position: relative;
              }
            }

            > div {
              display: block;
              width: 100%;
              @include ellipses();
            }
          }
        }
      }
    }
  }

  .empty-list {
    @include gridle(row row-align middle center);
    height: 100%;
    margin-top: 175px;
  }
}

//Variations
ual-report-list {
  .header {
    @include gridle( row row-align between);

    > .title {
      @include font-clanot-bold(20);
      color: $color06;
    }
  }

  .table-reports {
    tbody {
      tr {
        vertical-align: middle;
        border-bottom: 1px solid $color08;
        height: 42px;
        &.-selected {
          background-color: $color10;
          border-bottom: 1px solid $color00;

          .-link-report > div > a {
            color: $color06 !important;
          }
        }

        td {
          color: $color07;
          @include font-clanot-book(16);
          width: 25%;

          &:first-child {
            width: 3%;
          }

          &.-link-report {
            width: 37%;
            color: $color03;

            > div > a {
              @include link();
            }
          }

          &.-checkbox {
            padding-left: 10px;
            padding-right: 2px;
            width: 30px;
            visibility: hidden;

            input:checked + label {
              visibility: visible;
            }
          }

          &.-right-actions {
            white-space: nowrap;
            width: 8%;
            padding: 4px 0 !important;
            line-height: 1;
            > i {
              font-size: 24px;
              padding-left: 8px;
              padding-right: 4px;

              @media (max-width: 1024px) {
                padding-left: 4px;
                padding-right: 2px;
              }
              visibility: hidden;
              opacity: 0;
              opacity: 1 \9;
              /*just in case ie*/
              @include fadeIn();
              @include animation(fadeIn ease-in 1);
              @include animation-fill-mode(forwards);
              @include animation-duration(0.2s);
              vertical-align: middle;

              &.ion-android-close {
                cursor: pointer;
                padding-left: 18px;
                @media (max-width: 1024px) {
                  padding-left: 10px;
                }
              }
            }
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $color10;
          .-checkbox {
            visibility: visible;
          }

          .-link-report > div > a {
            color: $color06 !important;
          }

          .-right-actions {
            > i {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .empty-list {
    @include font-clanot-book(14);
    color: $color07;
  }
}
