@import '../../../../../common/common';
@import '../../../../../common/ionicons/scss/ionicons';

// LAYOUT
.ual-input {
  display: flex;
  padding: 5px 0px 5px 0px;
  align-items: center;
  justify-content: center;
  input {
    width: calc(100% - 14px);
    height: 28px;
  }

  @include -ms-browser() {
    padding: 5px 0 0 0;
    input{
      height: 32px;
    }
    i {
      margin-top: 0;
    }
  }
}

// VARIATION
ual-report-input {
  .ual-input {
    border: 1px solid $color08;
    background-color: $color00;
  }

  input {
    @include font-clanot-book(14);
    border: 0;
    color: $color06;
    vertical-align: middle;

    &:disabled {
      background-color: $color00;
    }
  }

  i {
    font-size: 22px;
    color: $color07;
    display: none;
  }
}

// VARIATION / NOBORDER
ual-report-input.-noborder {
  .ual-input {

    border-color: transparent
  }
}

// VARIATION / ERROR
ual-report-input.-error {
  .ual-input {
    border-color: $color11;
    input{
      width: calc(100% - 32px);
    }
  }
  i {
    @extend .ion-ios-close-outline;
    color: $color11;
    position: relative;
    line-height: 1;
  }
}
