@mixin arrow($position, $size, $border-color, $border-width, $bg, $hover) {
  @if $position == 'top' {
    $opposite: 'bottom';
    $alt: 'left';
  } @else if $position == 'bottom' {
    $opposite: 'top';
    $alt: 'left';
  } @else if $position == 'left' {
    $opposite: 'right';
    $alt: 'top';
  } @else {
    $opposite: 'left';
    $alt: 'top';
  }

  $width: $size + $border-width;

  &:after, &:before {
  	#{$opposite}: 100%;
  	@content;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  &:hover::after {
    border-#{$opposite}-color: $hover;
  }

  &:after {
  	border-color: rgba(0, 0, 0, 0);
  	border-#{$opposite}-color: $bg;
  	border-width: $size;
  	margin-#{$alt}: (-$size);
  }
  &:before {
  	border-color: rgba(0, 0, 0, 0);
  	border-#{$opposite}-color: $border-color;
  	border-width: $width;
  	margin-#{$alt}: -($width);
  }
}
