
@mixin style-btn($backgorund, $hover, $font, $padding) {
  color: $font;
  background: $backgorund;
  border: 0px;
  padding: $padding;  
  &:hover {
    background: $hover;    
  }  
}

@mixin primary-btn($padding: 14px) { 
  @include style-btn($primaryButtonColor, $primaryButtonColorHover, $primaryFontColor, $padding);
}
@mixin secondary-btn($padding: 14px) { 
  @include style-btn($secondaryButtonColor, $secondaryButtonColorHover, $primaryFontColor, $padding);
}
@mixin terciary-btn($padding: 14px) { 
  @include style-btn($terciaryButtonColor, $terciaryButtonColorHover, $primaryFontColor, $padding);
}
@mixin disabled-btn($padding: 14px) { 
  @include style-btn($disabledButtonColor, $disabledButtonColor, $disableFontColor, $padding);
}
@mixin ghost-btn() { 
  color: $ghostButtonColor;
  background: $primaryWhiteColor;
  border: 2px solid $ghostButtonColor ;
  padding: 10px;  
  &:hover {
    border: 0px;
    padding: 14px;
    color: $primaryWhiteColor;
    background: $ghostButtonColor;    
  }    
}
@mixin none-btn($padding: 14px) { 
  color: $secondaryFontColor;
  border: 0px;
  padding: $padding;  
  background: $primaryWhiteColor;
}