@mixin column-content($columns: 3, $min-width: 200px) {
    display: block;
    -webkit-column-count: $columns;
    -moz-column-count: $columns;
    column-count: $columns;
    
    -webkit-column-width: $min-width;
    -moz-column-width: $min-width;
    column-width: $min-width;
}

@mixin column-fill($columnFill: auto){
     -moz-column-fill: $columnFill;            
     column-fill: $columnFill;
}