@mixin fadeOut(){
    @-webkit-keyframes fadeOut { 
        from { opacity:1; } to { opacity:0; } 
    }
    @-moz-keyframes fadeOut { 
        from { opacity:1; } to { opacity:0; } 
    }
    @keyframes fadeOut { 
        from { opacity:1; } to { opacity:0; } 
    }
}