@mixin link() {
  text-decoration: none;
  color: $color03;
  @include font-clanot-news(16);

  &:hover {
    color: $other06;
  }

  &:visited {
    color: $color03;
  }

  &:visited:hover {
    color: $other06;
  }

  &.-disabled {
    color: $other07;
    cursor: default;
  }
}
