@import '../../common';

// LAYOUT
ual-menu-item{ 
  display: list-item;
}  

// VARIATIONS
ual-menu-item { 
  color: $color00; 
  background: $color03;
  @include font-clanot-book(16);
  padding: 12px 17px;
  border-left: 0px;
  
  div > i { 
    font-size: 24px;
    margin-right: 15px;
  }
  
  &:hover { 
    background: $color02;
    border-left: 4px solid $color05;
    padding-left: 13px;
    cursor: pointer;
  }  
}
ual-menu-item.-disabled {
  color: $color00; 
  background: $color03;
  padding: 12px 17px;
  border-left: 0px;  
  opacity: 0.5; 

  &:hover { 
    cursor: default;
  } 
}