@import '../common';

.md-button.ual-link {
  font-size: $link-font-size;
  padding-left: $link-left-right-padding;
  padding-right: $link-left-right-padding;

  &.ual-link-icon{
    padding-left: 0;
    md-icon {
      color: $link-icon-color;
      font-size: 1.4em;
    }
  }
}

.md-button.ual-link:not([disabled]) {
  color: $link-color;
}
.md-button.ual-link:hover:not([disabled]) {
  color: $link-color-hover;
}
.md-button.ual-link[disabled] {
  color: $link-color-disabled;
}
