@import '../../../../../../common/common';


//LAYOUT
ual-variable-item {
    display: list-item;
}

//VARIATIONS
ual-variable-item {
    @include font-clanot-book(14);
    color: $color06;
    border-left: 0;
    height: 36px;
    padding: 9px 14px;

    &:hover {
        /*background: $color02;
        border-left: 4px solid $color05;
        padding-left: 13px;*/
        cursor: pointer;
    }

    &.-selected {

    }
}
