@import '../../../../../../common/common';
ual-group-filter {
  display: block;
  width: 100%;
  padding: 15px 5px;
  .-toolbar {
    display: flex;
    align-items: center;
    vertical-align: middle;
    .-not-button {
      padding: 0 20px 0 0;
    }
    ual-dropdown {
      width: 100px;
    }
    ual-action-label {
      &.-condition-label {
        padding-left: 15px;
      }
      &.-clear-label {
        padding-left: 8px;
      }
      &.-group-label {
        padding-left: 8px;
      }
      &.-remove-label {
        padding-left: 8px;
      }
    }
  }
  .-conditions {
    display: block;
  }
}

//Variations
ual-group-filter {
  .-toolbar {
    .-not-button {
      @include font-clanot-bold(16);
    }
  }
  .-no-conditions {
    color: $color07;
  }
}
