@import '../../../../../../common/common';

ual-group-filter {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 5px;
  .-toolbar {
    display: flex;
    align-items: center;
    vertical-align: middle;
    .-not-button{
      padding: 0 20px 0 0;
      @include font-clanot-bold(16);
    }
    ual-dropdown {
      width: 100px;
    }
    ual-action-label {
      width: 170px;
    }
  }
  .-conditions{
    display: block;
    height: calc(100% - 66px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
