@import '../common';

md-tooltip.ual-tooltip-top,
md-tooltip.ual-tooltip-bottom,
md-tooltip.ual-tooltip-left,
md-tooltip.ual-tooltip-right {
  border-radius: 0;
  overflow: visible;
  color: $tooltip-color;
  font-size: $tooltip-font-size;

  ._md-content {
    padding: $tooltip-padding;
    background: $tooltip-backgrownd;
    overflow: visible;

  }
}

md-tooltip.ual-tooltip-top {
  margin-top: 2 * $tooltip-triangle-width;

  ._md-content {
    @include triangle('bottom', $tooltip-triangle-width, $tooltip-triangle-height, $tooltip-backgrownd, $tooltip-backgrownd) {
      right: calc(50% - #{$tooltip-triangle-width});
    }
  }
}
md-tooltip.ual-tooltip-right {
  margin-top: 0;

  ._md-content {
    @include triangle('left', $tooltip-triangle-width, $tooltip-triangle-height, $tooltip-backgrownd, $tooltip-backgrownd) {
      top: calc(50% - #{$tooltip-triangle-width});
    }
  }
}
