<form novalidate
  class="login-form"
  name="loginform"
  ng-submit="vm.submit()"
  autocomplete="off"
  layout="column">
  <md-input-container ual-input
    ual-input-size="large">
    <label>User ID</label>
    <input
      aria-label="user id"
      type="text"
      ng-model="vm.user"
      ng-required="true">
  </md-input-container>
  <md-input-container ual-input
    ual-input-size="large">
    <label>Password</label>
    <input
      aria-label="password"
      type="password"
      ng-model="vm.pass"
      ng-required="true">
  </md-input-container>
  <div class="message">
    <span ng-show="vm.error">
      {{vm.error.errorMessage || 'The userID or password are invalid'}}
    </span>
    <a
      href="mailto:{{vm.mailto}}"
      ng-show="vm.error.errorCode == 1">
      Please click here to contact PDS.
    </a>
  </div>
  <md-button ual-button
    ual-button-size="large"
    class="login-form-submit md-primary"
    type="submit"
    tabindex="3"
    ng-disabled="vm.loading">
    <ual-loading
      ual-loading-enable="vm.loading"
      ual-loading-diameter="30">
      Login
    </ual-loading>
  </md-button>
</form>
