<form class="login-form" name="loginform" ng-submit="loginform.$valid && vm.submit()" novalidate>
  <login-form-input ng-class="{'-invalid': vm.error && loginform.$submitted}" label="User ID"  type="text"     
                    value="vm.user" tabindex="1" on-focus="loginform.$setPristine()" is-required="true"></login-form-input>
  <login-form-input ng-class="{'-invalid': vm.error && loginform.$submitted}" label="Password" type="password" 
                    value="vm.pass" tabindex="2" on-focus="loginform.$setPristine()" is-required="true"></login-form-input>
  <div class="message" ng-class="{visible: vm.error}">
    User is not authorized to access the application. 
    <a href="mailto:{{vm.mailto}}">Please click here to contact PDS.</a>
  </div>
  <login-form-submit class="-primary" ng-class="{'-loading': vm.loading}" tabindex="3"></login-form-submit>
</form>