@import '../../../common/common';

// LAYOUT
login-form > form {
  @include gridle( row col );
  @include gridle( gutter 60px 0px );
  @include box-shadow(0, 15px, 15px, rgba(0, 0, 0, 0.2));
  
  background-color:rgba(255, 255, 255, 0.75);

  > * {
    @include gridle( 12 );
    @include gridle( gutter 40px 100px );
  }
  > .message { 
    @include gridle( gutter 0px 50px 30px 50px);
  }
}

// MESSAGE
login-form > form > .message { 
  visibility: hidden;
  @include font-clanot-news(16);
  color: $alertHighColor;
  > a { 
    @include font-clanot-bold(16);
    color: $alertHighColor;
    text-decoration: none;
    &:hover, &:focus { 
      text-decoration: underline;
    }
  }

}

// MESSAGE / VARIANTS
login-form > form > .message.visible { 
  visibility: visible;
}
