@import '../../components';

// LAYOUT
.login-form {
  padding: 50px;
}

// VARIANTS
.login-form {
  @include box-shadow(0, 15px, 15px, 0, rgba(0, 0, 0, 0.2));
  background-color:rgba(255, 255, 255, 0.75);

  .login-form-submit {
    width: 100%;
  }

  > .message {
    min-height: 90px;
    font-size: $login-message-font-size;
    color: $font-error-color;

    > a {
      color: $font-error-color;
      font-weight: $font-weight-bold;
      text-decoration: none;
    }
  }
}
