@import '../../../common/common';

// LAYOUT
.message-banner {
  @include gridle( row row-align center middle );
  height: 100%;
}

// VARIATIONS
.message-banner { 
  color: $warningHighColor;
  background: $warningLowColor;
  > .icon-warning { 
    @include icon-warning(28);
  }
  > span {
    @include font-clanot-bold(18);
  } 
}
