@import '../../common';
ual-dropdown-item {
    display: inline-block;
    @include ellipses();
    width: 100%;
    color: $color06;
    @include font-clanot-book(14);
    padding: 4px 1em;
    margin: 1px 0;
}

//Variations
ual-dropdown-item:not(.-disabled) {
    &:hover {
        background-color: $others01;
        @include font-clanot-news(14);
        color: $color06;
        cursor: pointer;
    }
}

ual-dropdown-item.-disabled {
    color: $color07;
}