@import '../common';
@import '../ionicons/scss/ionicons';

// LAYOUT
ual-message-banner {
    @include gridle( 12 );
    width:100%;
    height: 52px;
    &.-dashboard{
        position: fixed;
        width: 100%;
        margin: 0;
        left: 0;
        top: 52px;
    }
    div{
        vertical-align: center;
        height: 52px;
        @include gridle( row row-align center middle );
        > span{
            vertical-align: super;
            @include font-clanot-bold(18);
        }
        i{
            padding-right: 8px;
            font-size: 26px;
        }
        .-close-icon{
            display: none;
            position: absolute;
            right: 0px;
            top: 5px;
        }
    }
}

// VARIATIONS

// VARIATION / DEFAULT (WARNING)
ual-message-banner{
  color: $warningHighColor;
  background: $warningLowColor;
  i.-message-icon{
    @include icon-warning(26);
  }
}

// VARIATION / SUCCESS
ual-message-banner.-success{
  color: $successHighColor;
  background: $successLowColor;
  i.-message-icon{
      @extend .ion-ios-checkmark-outline;
  }
}

// VARIATION / ERROR
ual-message-banner.-error{
  color: $alertHighColor;
  background: $alertLowColor;
  i.-message-icon{
      @extend .ion-ios-close-outline;
  }
}
ual-message-banner.-closeable{
    .-close-icon{
        display: inline;
    }
}