@import '../common';
@import '../ionicons/scss/ionicons';


// LAYOUT
ual-message-banner {
    @include gridle( 12 );
    width:100%;
    height: 52px;
    color: #db8c0e;
    background: #ffe0b2;
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    top: 52px;
    div{
        vertical-align: center;
        height: inherit;
        @include gridle( row row-align center middle );
        > span{
            vertical-align: super;
            @include font-clanot-bold(18);
            @include gridle_state ( projector ) {
                @include font-clanot-bold(14);
            }
        }
        i{
            padding-right: 8px;
            padding-bottom: 4px;
            font-size: 26px;
        }
        .-close-icon{
            display: none;
            position: absolute;
            right: 10px;
            top: 8px;
            cursor: pointer;
            span{
                vertical-align: middle;
                height: 30px;
                @include -moz-browser(){
                    height: 28px;
                }
                display: inline-block;
            }
        }
    }
}

// VARIATIONS

// VARIATION / DEFAULT (WARNING)
ual-message-banner{
  color: $warningHighColor;
  background: $warningLowColor;
  i.-message-icon{
    @include icon-warning(26);
  }
}

ual-message-banner.banner-show{
   @include slideInDown();
   @include animation(slideInDown);
   @include animation-fill-mode(forwards);
   @include animation-duration(0.5s);
}

ual-message-banner.banner-hide{
    @include slideOutUp();
    @include animation(slideOutUp);
    @include animation-fill-mode(forwards);
    @include animation-duration(0.5s);
}

.banner-login{
  top:0px;
}
// VARIATION / SUCCESS
ual-message-banner.-success{
  color: $successHighColor;
  background: $successLowColor;
  i.-message-icon{
      @extend .ion-ios-checkmark-outline;
  }
}

// VARIATION / ERROR
ual-message-banner.-error{
  color: $alertHighColor;
  background: $alertLowColor;
  i.-message-icon{
      @extend .ion-ios-close-outline;
  }
}
ual-message-banner.-closeable{
    .-close-icon{
        display: inline;
    }
}

// VARIATION / AUTOCLOSE
ual-message-banner.-autoclose{
  @include slideInDown();
  @include slideOutUp();
  @include animation(slideInDown 0.5s 0s forwards,slideOutUp 0.5s 4.5s forwards);
  //@include animation-fill-mode(backwards);
  //@include animation-duration(0.5s);
 // @include animation-delay(10s,4.5s);
/*  @include animation(fadeHide ease-in 1);
  @include animation-fill-mode(forwards);*/
/*  @include animation-duration(0s);
  @include animation-delay(0s); */
}
