@import '../common';

.md-button.md-default-theme:not([disabled]):hover,
.md-button:not([disabled]):hover {
  background: none;
}

.ual-button.md-button {
  text-transform: $button-text-transform;
  font-size: $button-font-size;

  &.md-raised {
    &:not([disabled]) {
      box-shadow: none;
      &.md-focused {
        box-shadow: none;
      }
    }
    &[disabled] {
      color: $button-disabled-color;
      background-color: $button-disabled-bg-color;
    }
  }

  // LOADING
  ual-loading md-progress-circular {
    bottom: ($button-loading-size / 2);
    right: ($button-loading-size / 2);
  }
}

// SIZE / LARGE
.ual-button.ual-button-large.md-button {
  font-size: $button-large-font-size;
  line-height: $button-large-line-height;
  min-height: $button-large-line-height;
  // LOADING
  ual-loading md-progress-circular {
    bottom: ($button-large-loading-size / 2);
    right: ($button-large-loading-size / 2);
  }
}

// TYPE / SECONDARY
.ual-button.md-button.md-secondary {
  background: $button-secondary-color;
  color: $button-secondary-font-color;

  &:hover:not([disabled]) {
    background: $button-secondary-hover-color
  }

  &[disabled] {
    background: $button-secondary-disabled-color;
    color: $button-secondary-disabled-font-color;
  }
}
