<ual-menu>
  <ual-menu-item icon="ion-speedometer" class="-disabled">
    <i class="ion-speedometer"></i>Dashboard
  </ual-menu-item>
  <ual-menu-item class="-disabled">
    <i class="ion-stats-bars"></i>Season Stats
  </ual-menu-item>
  <ual-menu-item class="-disabled">
    <i class="ion-levels"></i>Adjustments
  </ual-menu-item>
  <ual-menu-item class="-disabled">
    <i class="ion-android-plane"></i>Space Planning
  </ual-menu-item>
  <ual-menu-item ng-click="vm.toggle()">
    <i class="ion-ios-pie-outline"></i>Reports
  </ual-menu-item>
  <ual-menu-item class="-disabled">
    <i class="ion-alert-circled"></i>Alerts
  </ual-menu-item>
  <ual-menu-item class="-disabled">
    <i class="ion-ios-telephone-outline"></i>Support
  </ual-menu-item>
  <ual-menu-item class="-disabled">External Visualization</ual-menu-item>
</ual-menu>
<div class="layer" ng-click="vm.toggle()"></div>

