@import '../common';
.ual-input {
    border: 1px solid $color08;
    background-color: $color00;
    padding: 5px 8px 6px 8px;
    @include -moz-browser() {
      padding-bottom: 7px;
    }

    input {
      @include font-clanot-book(14);
      width: calc(100% - 40px);
      border: 0;
      height: 28px;
      color: $color06;
      &:disabled {
        background-color: $color00;
      }
    }
    i {
      font-size: 22px;
      vertical-align: middle;
      color: $color07;
    }
}
