@import '../common';

md-input-container.ual-input {
  margin-top: 30px;
  .md-input {
    background: white;
    border-width: 0;
  }
}

// FOCUS
md-input-container.ual-input.md-input-focused {
  .md-input {
    border-width: $input-border-width-default;
  }
}

// ERROR
md-input-container.ual-input {
  .md-input.ng-invalid.ng-dirty, .md-input.ng-invalid.ng-touched  {
    border-width: $input-border-width-default;
  }
}
