@import '../../../../../../common/common';
ual-filter-condition {
  padding: 0px 0 20px;
  display: block;
  >.wrapper {
    margin-left: 0px !important;
    @include gridle(row row-align left);
    display: flex;
    width: 100%;
      >.operator {
        width: 40px;
        margin: 0 12px;
        padding-left: 5px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      >.value {
        margin: 0 8px;
        @include gridle(2);
        padding: 0px;
        >.-input {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 2px 5px 2px;
          height: 37px;
          @include -ms-browser() {
            padding: 1px 2px;
            height: 32px;
          }
          >input {
            height: 28px;
            @include -ms-browser() {
              height: 23px;
            }
          }
          >i {
            vertical-align: middle;
            @include -ms-browser() {
              margin-top: 5px;
            }
          }
        }
        .-error {
          padding: 10px 10px 0;
        }
      }
      >ual-dropdown {
        margin: 0 8px;
        @include gridle(2);
        &.short-field {
          padding: 0px;
          @include gridle(1);
        }
      }
      >ual-autocomplete {
        margin: 0 8px;
        padding: 0px;
        @include gridle(2);
        &.short-field {
          @include gridle(0.88);
        }
        ual-input label {
          padding: 3px 2px;
          @include -ms-browser() {
            padding: 1px 2px;
            i {
              margin-top: 0px;
            }
          }
        }
      }
      >.close-btn {
        display: flex;
        align-items: center;
      }
  }
}

//VARIATIONS
ual-filter-condition {
  >.wrapper {
    .-input {
      border: 1px solid $color08;
      background-color: $color00;
      >input {
        @include font-clanot-book(14);
        width: calc(100% - 15px);
        border: 0;
        color: $color06;
      }
      >i {
        display: none;
        font-size: 22px;
        color: $color07;
      }
    }
    .-error {
      @include font-clanot-book(12);
      color: $color11;
    }
  }
}

//VARIATION Error Form
ual-filter-condition {
  >.wrapper{
    .value{
      >.-input.-invalid{
        border-color: $color11;
        >input{
          width: calc(100% - 37px);
        }
        >i {
          display: inline-block;
          color: $color11;
        }
      }
    }
  }
}
