@import '../../../../../../common/common';
ual-filter-condition {
  padding: 20px 20px 0;
  display: block;
  >.wrapper{
    margin-left: 0px !important;
    @include gridle(row row-align);
    >.section{
        @include gridle(6 row row-align);
        display : flex;
        padding: 0 10px;
         >.operator{
            margin-left: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include gridle(1);
            &.hideOperator{
              visibility: hidden;
            }
          }
      >ual-input{
        @include gridle(5);
        .-invalid-value{
            padding: 10px 10px 0;
            @include font-clanot-book(14);
            color: $color11;
        }
      }
      >ual-dropdown{
        @include gridle(5);
      }
      >.close-btn{
        display: flex;
        align-items: center;
      }
    }
  }
}
