@import '../common';

// LAYOUT
ual-pane {
  > .pane-header {
    @include gridle(row row-align between);
    margin: 0;
    padding: 12px 20px;
  }

  > .pane-body {
  }
}

// VARIATIONS
ual-pane {
  > .pane-header {
    > .title {
      @include font-clanot-news(16);
      color: $color07;
    }

    > .action {
      @include link();
    }
  }
}
