@import '../../../../../common/common';
ual-modal.-executed-report {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  ng-transclude {
    display: block;
    > .top {
      position: fixed;
      margin: -10px 10px;
      top: 56px;
      right: 12px;
      > i {
        font-size: 68px;
        color: rgba($color07, 0.5);
        cursor: pointer;
      }
    }
    .-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include font-clanot-book(14);
    }
  }
}
