@import '../common';

// LAYOUT 
.navbar {
  @include gridle( row row-align middle between);
  height: 100%;
  > .navbar-header {
    @include gridle_gutter( 28px 24px );
    > main-menu-handler { 
      display: inline-flex;
    }
  }
  > nav-options { 
    
    @include gridle_gutter( 0px 112px );
    height: 100%;
  }  
}  

// VARIATIONS 
.navbar { 
  color: $primaryWhiteColor;
  background: $primaryDarkBlueColor;
  > .navbar-header { 
    > main-menu-handler { 
      cursor: pointer;
      font-size: 21px;
      margin-right: 15px;
    }
    > .title { 
      @include font-clanot-book(18);
    }   
  }
}
