@import '../../../../../../common/common';

//Layout
ual-data-source-list { 
    @include gridle(gutter 30px 0px);
    @include column-content(4);
    
    height: 100%;
    -moz-column-fill: auto;
    column-fill: auto;
    
}  


//Variations

