md-dialog.slice-modal {
  width: 60%;
  max-width: 60%;
  margin-top: 280px;
  height: 80vh;
  md-dialog-content{
    height: 100%
  }
  md-dialog-actions {
    .md-button.md-primary {
      text-transform: none;
    }
  }
}
