@import '../../../common/common';

// LAYOUT
.login-header {
  img {
    display: block;
    margin: 0 auto;
  }
}

// VARIATIONS
.login-header {
  > .title {
    @include font-clanot-book(46);
    margin-top: 5px;
    text-align: center;
    color: $color00;
  }
}
