@import '../../../../../common/common';

// LAYOUT 
.ual-variables { 
}

// VARIATIONS
.ual-variables > ng-transclude {
  > .top { 
    font-size: 68px;
    margin: -10px 10px;    
    color: rgba($color06, 0.5);  
    cursor: pointer;
  }

  >.container { 
        > .title{
            @include font-clanot-bold(20);
            padding: 10px 20px;
        } 
        > .content-list {
            height: 100%;
            overflow-x: auto;
            padding: 30px 15px;
        }
    }
} 