@import '../common';

// LAYOUT
.main-menu { 
  height: 100%;
  
  > ul { 
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 257px;
  }
  > .layer { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
} 

// VARIANTS
.main-menu {
  > ul {
    left: -257px;
    padding: 0;
    margin: 0;
    background: $primaryLightBlueColor;
    
    > li {
      border-bottom: 1px solid rgba($primaryWhiteColor, 0.5); 
      
      &:last-child {
        border-bottom: 0;
      }      
    }
  }
  > .layer { 
    display: none;
    background: rgba($primaryWhiteColor, 0.5);
  }
  
  &.open { 
    > ul {
      left: 0px;
    }
    > .layer { 
      display: block;
    }
  }
}  
