<div class="main-menu" ng-class="{'open': vm.isOpen()}">
  <ul>
    <menu-item icon="ion-speedometer" class="-disabled">
      <i class="ion-speedometer"></i>Dashboard
    </menu-item>
    <menu-item class="-disabled">
      <i class="ion-stats-bars"></i>Season Stats
    </menu-item>
    <menu-item class="-disabled">
      <i class="ion-levels"></i>Adjustments
    </menu-item>
    <menu-item class="-disabled">
      <i class="ion-android-plane"></i>Space Planning
    </menu-item>
    <menu-item ng-click="vm.toggle()">
      <i class="ion-ios-pie-outline"></i>Reports
    </menu-item>
    <menu-item class="-disabled">
      <i class="ion-alert-circled"></i>Alerts
    </menu-item>
    <menu-item class="-disabled">
      <i class="ion-ios-telephone-outline"></i>Support
    </menu-item>
    <menu-item class="-disabled">External Visualization</menu-item>
  </ul>
  <div class="layer" ng-click="vm.toggle()"></div>
</div>
