<div class="main-menu" ng-class="{'open': vm.isOpen()}">
  <ul>
    <li><menu-item icon="ion-speedometer" label="Dashboard" class="-disabled"></menu-item></li>
    <li><menu-item icon="ion-stats-bars" label="Season Stats" class="-disabled"></menu-item></li>
    <li><menu-item icon="ion-levels" label="Adjustments" class="-disabled"></menu-item></li>
    <li><menu-item icon="ion-android-plane" label="Space Planning" class="-disabled"></menu-item></li>
    <li><menu-item icon="ion-ios-pie-outline" label="Reports" ng-click="vm.toggle()"></menu-item></li>
    <li><menu-item icon="ion-alert-circled" label="Alerts" class="-disabled"></menu-item></li>
    <li><menu-item icon="ion-ios-telephone-outline" label="Support" class="-disabled"></menu-item></li>
    <li><menu-item label="External Visualization" class="-disabled"></menu-item></li>
  </ul>
  <div class="layer" ng-click="vm.toggle()"></div>
</div>
