@import '../../common';
@import '../../ionicons/scss/ionicons';


.ual-accordion {
  .accordion-title {
    height: 42px;
    line-height: 42px;
    padding: 0 8px;
    font-size: 16px;
    color: $color00;
    border-left-style: solid;
    border-left-width: 3px;
    i {
      float: right;
      font-size: 24px;
    }
  }
  .accordion-content {
    padding: 24px 12px 0;
  }
}

// OPEN
.ual-accordion.open {
  // height: calc(100% - 70px);
  .accordion-title {
    cursor: pointer;
    background-color: $color03;
    border-left-color: $color02;
  }
  .accordion-title i {
    @extend .ion-ios-arrow-up;
  }
  .accordion-content {
    @include transition(all .2s ease-out);
    // height: 92%;
    // .ual-accordion-content {
    //   height: 100%;
    // }
  }
}

// CLOSE
.ual-accordion.close {
  .accordion-title {
    cursor: pointer;
    background-color: $color03;
    border-left-color: $color10;
  }
  .accordion-title i {
    @extend .ion-ios-arrow-down;
  }
  .accordion-content {
    @include transition(all .2s ease-out);
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    height: 0;
    overflow: hidden;
  }
}

// DISABLE
.ual-accordion.disable {
  .accordion-title {
    background-color: $other11;
    border-left-color: $other12;
  }
  .accordion-title i {
    @extend .ion-ios-arrow-down;
  }
  .accordion-content {
    @include transition(all .2s ease-out);
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
  }
}
