@import '../../common';
@import '../../ionicons/scss/ionicons';

// LAYOUT
.ual-accordion {
  margin-top: 1px;
  position: relative;

  .accordion-title {
    padding: 12px 8px 12px 14px;
  }
  .accordion-content {
    padding: 24px 12px;
  }
}

// VARIANT
.ual-accordion {
  .accordion-title {
    @include font-clanot-news(16);
    color: $color00;
    border-left-style: solid;
    border-left-width: 3px;
  }
  .accordion-title i {
    float: right;
    font-size: 24px;
    margin-top: -5px;
  }
}

// VARIANT / OPEN
.ual-accordion.open {

  .accordion-title {
    background-color: $color03;
    border-left-color: $color02;
  }
  .accordion-title i {
    cursor: pointer;
    @extend .ion-ios-arrow-up;
  }
  .accordion-content {
    @include transition(all .5s ease-out);
  }
}

// VARIANT / CLOSE
.ual-accordion.close {

  .accordion-title {
    background-color: $color03;
    border-left-color: $color10;
  }
  .accordion-title i {
    cursor: pointer;
    @extend .ion-ios-arrow-down;
  }
  .accordion-content {
    @include transition(all .5s ease-out);
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
  }
}

// VARIANT / DISABLE
.ual-accordion.disable {

  .accordion-title {
    background-color: $other11;
    border-left-color: $other12;
  }
  .accordion-title i {
    @extend .ion-ios-arrow-down;
  }
  .accordion-content {
    @include transition(all .5s ease-out);
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
  }
}
