@import url("./common/icons");

@import url("common/ionicons");
@import 'common/ionicons/scss/ionicons';

//@import url(https://hub.united.com/style%20library/united/stylesheets/fonts_ssl.min.css);
@import 'common/common';
@import '~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';

@include keyframes-spin();

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 0;
}

html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.app-view {
    height: 100vh;
    @include gridle( container );
    @include font-clanot-news();
}

ng-outlet {
    > div {
        height: 100%;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}
