@import '../../../../../../common/common';

// LAYOUT
ual-data-source-label {
}

// VARIATIONS
ual-data-source-label {
  @include font-clanot-book(16);
  color: $color07;

  > div > .datasource-name {
    @include font-clanot-bold(16);
    @include ellipses();
    display: inline-block;
    width: 100%;
  }
}
