@import '../common';
ual-dropdown {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    background-color: $color00;
    vertical-align: middle;
    width: inherit;
    z-index: 1051;
    @include box-shadow(3px, -4px, 1px, 0px, $color08);
    .dropdown {
        display: block;
        border: 1px solid $color08;
        box-sizing: border-box;
        width: 100%;
        z-index: 1051;
        .dropdown-list {
            display: block;
            .-message {
                color: $color06;
                @include font-clanot-book(14);
                display: block;
                width: 100%;
                line-height: 2.5em;
                text-align: center;
            }
            .list-options {
                margin: 0 2px;
                .mCSB_dragger .mCSB_dragger_bar {
                    background-color: #e9e9e9;
                }
                .mCSB_scrollTools {
                    padding: 0px 6px;
                }
                .mCSB_container {
                    margin-right: 12px;
                }
                ual-dropdown-items{
                    display: block;
                    padding: 12px 0;   
                    box-sizing: border-box;
                    list-style: none;
                    overflow-y: auto;
                    max-height: 200px; 
                    &.-no-results{
                        padding: 0;
                    }
                }
                
                
            }
        }
    }
}