@import '../../../../../../common/common';

//Layout
ual-data-source-item {
    display: block;
    @include gridle(gutter 10px 0px);
    cursor: pointer;

    > span{
        padding: 8px;
    }
}


//Variations
ual-data-source-item {
    > span{
        @include font-clanot-book(14);
    }
    &.-selected{
        > span{
          @include font-clanot-bold(14);
            background-color: $color10;
        }
    }
}
