@import '../../../../../../common/common';

// LAYOUT
ual-data-source-item {
    display: inline-block;

    > span {
      display: inline-block;
      pointer-events: all;
      height: 100%;
      padding: 8px;
      margin-left: 8px;
    }
}

// VARIANT
ual-data-source-item {
   cursor: pointer;
   line-height: 1;
    > span{
      @include font-clanot-book(14);
      @include ellipses();
      pointer-events: none;
      pointer-events: all;
    }
    &.-selected{
        > span {
          @include font-clanot-bold(14);
          background-color: $color10;
        }
    }
}
