@import '../../../../../../common/common';

//Layout
ual-data-source-item {
    display: block;
    @include gridle(gutter 10px 0px);
    @include font-clanot-book(18);
    > span{
        @include gridle(gutter 15px 15px)
    }
}  


//Variations
ual-data-source-item {
    &.-selected{
        > span{
            background-color: $backgroundHighColor;
            color: $primaryWhiteColor;
        }
    }
}