@import '../common';
//Layout
ual-action-label {
  .-container {
    display: flex;
    align-items: center;
    padding: 10px 4px;
    height: 36px;
    cursor: pointer;
    @include font-clanot-book(14);
    > i {
      padding: 5px;
      font-size: 22px;
      color: $color07;
    }
    > a {
      @include link();
      padding: 5px;
    }
  }
}
//Variant
ual-action-label {
  .-container i.-disabled {
    cursor: auto;
    color: $color08;
  }
}
