@import '../../../../../common/common';
ual-search-filter {
    > label {
        border: 1px solid $color08;
        background-color: $color00;
        color: $color07;
        z-index: 2;
        margin: -1px;
        padding: 8px;
        input {
            width: 88%;
            border: 0;
        }
        i {
            font-size: 20px;
            vertical-align: middle;
        }
    }
}