@import '../../common';
@import '../../ionicons/scss/ionicons';

.md-calendar-month-label {
  * {
    cursor: pointer;
  }
  i {
    padding: 0 5px;
  }
  .ion-ios-arrow-left:hover:before {
    content: $ionicon-var-ios-arrow-back;
  }
  .ion-ios-arrow-right:hover:before {
    content: $ionicon-var-ios-arrow-forward;
  }
  div {
    font-weight: lighter;
    margin: 0 5px;
    width: 80px;
    display: inline-block;
    text-align: center;
    &:hover {
      font-weight: normal;
    }
  }
}

ual-calendar-month,
md-calendar-year{
  .md-calendar-scroll-container,
  .md-calendar-scroll-mask {
    height: 265px;
  }
}
