@mixin icon-styles {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}


@mixin icon-warning($px, $insert: before) {
  @include icon-styles;
  font-size: $px + 0px;
  &:#{$insert} {
    content: "\E001";
  }
}

