@import '../../common/common';

dashboard {
  @include gridle( row );
  margin: 0;
}  
dashboard > ual-nav-bar { 
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 52px;
}
dashboard > .dashboard-container { 
  width: 100%;
  > .dashboard-view { 
    width: 100%;
    margin-left: 50px;
  }
}

