@import '../../common/common';

.dashboard {
  @include gridle( row );
}  
.dashboard > navbar { 
  z-index: 1;
  @include gridle( 12 );
  @include gridle( gutter 0px 40px );
  height: 52px;
}
.dashboard > .dashboard-container { 
  @include gridle( 12 );
  > .dashboard-view { 
    width: 100%;
  }
}

