@import '../../components';

md-toolbar.ual-navbar {
  .md-toolbar-tools {
    .icon-button-burger.md-button.md-icon-button {
      margin-left: -40px;
      .img-menu {
        vertical-align: middle;
      }
    }
    h1 {
      margin-left: 8px;
      font-weight: bold;
    }
    .icon-button-user.md-button.md-icon-button {
      width: $user-icon-size;
      height: $user-icon-size;
      margin-right: 10px;
      img {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}

md-menu-content.menu-dropdown-user {
  padding: 0;
  md-menu-item:first-child {
    @include triangle('top', 8px, 8px, $menu-item-bg-color, $menu-item-bg-hover) {
      right:10px;
    }
  }
}
