@import '../../../common/common';

// LAYOUT
ual-nav-bar {
  @include gridle( row row-align between middle);
  > .navbar-header {
    color: $color00;
    @include gridle( gutter 0 24px );
    > i {
      cursor: pointer;
      margin-right: 16px;
    }
  }
  > .navbar-options {
    @include gridle( gutter 0 112px );
    > li {
      position: relative;
      height: 33px;
      > img {
        height: 100%;
      }
      > ual-tooltip {
        width: 153px;
      }
    }
  }
}

// VARIANT
ual-nav-bar {
  background-color: $color01;
  > .navbar-header {
    color: $color00;
    @include font-clanot-bold(18);
  }
  > .navbar-options {
    > li > img.img-circle {
      border-radius: 50%;
    }
    > li > ual-tooltip {
      display: none;
    }
    > li:hover > ual-tooltip {
      display: block;
    }
  }
}


