@font-face {
	font-family: "ClanOT-Book";
	font-weight: 200;
	font-style: regular;
	src: url("ClanBook.eot");
	src: url("ClanBook.ttf") format("truetype"), url("ClanBook.woff") format("woff"), url("ClanBook.eot") format("embedded-opentype");
}

@font-face {
	font-family: "ClanOT-News";
	font-weight: 400;
	font-style: regular;
	src: url("ClanNews.eot");
	src: url("ClanNews.ttf") format("truetype"), url("ClanNews.woff") format("woff"), url("ClanNews.eot") format("embedded-opentype");
}

@font-face {
	font-family: "ClanOT-Bold";
	font-weight: 600;
	font-style: regular;
	src: url("ClanBold.eot");
	src: url("ClanBold.ttf") format("truetype"), url("ClanBold.woff") format("woff"), url("ClanBold.eot") format("embedded-opentype");
}
