@import '../../../../common/common';

// LAYOUT
.login-form-submit { 
  width: 100%;
  > .icon-spinner { 
    float: right;
    margin-top: -23px;
  }  
}

// VARIANTS
.login-form-submit { 
  @include button-primary(14px);
  @include font-clanot-news(18);
  > span { 
    display: block;
  }
  > .icon-spinner { 
    @include spin();
    display: none;
  }
}
// VARIANTS / PRIMARY
// VARIANTS / LOADING
.-loading > .login-form-submit {
  background: #99a7b4;
  color: #c2ccd3;
  > .icon-spinner { 
    display: block;
  } 
  &:hover { 
    background: #99a7b4;
    color: #c2ccd3;
  }   
}
