<div class="expiration-modal">
  <div class="top">
    <i class="ion-ios-close-empty" ng-click="vm.close()"></i>
  </div>
  <div class="title">
    Your session is about to expire!
  </div>  
  <div class="description">
    You will be logged out in <strong>{{ vm.remaining() | secondstotime }}</strong> minutes. Do you want to stay signed in?
  </div>
  <div class="buttons">  
    <button class="cancel"  ng-click="vm.no()">No, sign me out</button>
    <button class="yes"     ng-click="vm.yes()">Yes, keep me signed in</button>
  </div>  
</div>
