@import '../../../common';

// LAYOUT
.dropdown-menu { 

}  

// VARIATIONS
.dropdown-menu { 
  padding: 0;
  background: $primaryLightBlueColor;
  
  > li {
    border-bottom: 1px solid rgba($primaryWhiteColor, .5);
    
    &:first-child::before { 
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      right: 10px;
      top: -10px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid $primaryLightBlueColor;
    }
    
    &:last-child {
      border-bottom: 0;
    }      
    
    &:hover { 
      &:first-child:not(.disabled)::before { 
        border-bottom: 10px solid $primaryBlueColor;
      }
    }
  }
}  