@import '../../../../../../common/common';

ual-tabs {
    @include gridle(row row-align between);
    border: 1px solid $color07;
    background-color: $color09;
    width: 60%;

    .active {
        color: $color06;
        border-left: 5px solid $color03;
        background-color: $color00 !important;
    }

    > .tabs-list {
        width: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        > li {
            background-color: $color09;
            color: $color06;
            height: 45px;
            border-bottom: 1px solid $color08;
        }

        > li a {
            color: $color06;
            display: block;
            text-decoration: none;
            padding: 12px 20px;
        }
    }

    > .tabs-content {
        padding: 0 20px;
        width: 70%;
        background-color: $color00;
    }
}
