<md-menu>
  <md-input-container
    ual-input
    ual-input-size="medium"
    ual-input-icon="ion-ios-search"
    class="search-box ual-input-no-validate">
    <input aria-label="search datasource"
      ng-focus="$mdOpenMenu($event) && vm.openMenu($event)"
      ng-blur="vm.isOpen && vm.closeMenu()"
      ng-model="vm.searchTerm.name"
      ng-minlength="3"
      ng-model-options="{ debounce: { default: 200 } }" >
  </md-input-container>
  <!-- <md-button aria-label="Open menu" class="icon-button-user md-icon-button" ng-click="$mdOpenMenu($event)">
    <img ng-src="{{vm.user}}" alt="{{vm.user}}">
  </md-button> -->
  <md-menu-content class="ual-autocomplete-content"
    width="3">
    <md-input-container
      ual-input
      ual-input-size="medium"
      ual-input-icon="ion-ios-search"
      class="search-box ual-input-no-validate">
      <input aria-label="search datasource"
        ng-focus="$mdOpenMenu($event) && vm.openMenu($event)"
        ng-blur="vm.isOpen && vm.closeMenu()"
        ng-model="vm.searchTerm.name"
        ng-minlength="3"
        ng-model-options="{ debounce: { default: 200 } }" >
    </md-input-container>
    <div >
      <ual-autocomplete-item ng-repeat="item in vm.items" >
        Settings sda asd asd asd asd asd asdasd asd asd asd asd a
      </ual-autocomplete-item>
    </div>
  </md-menu-content>
</md-menu>
