@import '../../../../../common/common';
ual-modal.-timerModal {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  ng-transclude {
    display: block;
    .-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .spinner {
        background-image: url('spinner_blue.gif');
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 60px;
      }
      div:nth-child(2){
        padding-top: 7px;
        @include font-clanot-book();
      }
      div:nth-child(3){
        padding-top: 8px;
        @include font-clanot-news(14);
      }
      div:nth-child(4){
        padding-top: 16px;
        @include font-clanot-bold(16);
        cursor: pointer;
      }
    }
  }
}
