@import '../common';

.ual-autocomplete-content {
  background: none;
  overflow: hidden;

  .ual-input {
    padding-bottom: 0;
  }

  .ual-autocomplete-content-scroll {
    overflow-y: auto;
    border: 1px solid $input-medium-border-color;
    @include box-shadow(3px, 3px, 0, 0, rgba(0, 0, 0, 0.1));
  }
}

._md-open-menu-container  {
  box-shadow: none !important;
}
