<md-menu>
  <md-input-container
    md-no-float
    ual-input
    ual-input-size="medium"
    ual-input-icon="ion-ios-search"
    class="search-placeholder">
    <input aria-label="autocomplete placeholder"
      name="{{vm.name}}"
      placeholder="{{vm.placeholder}}"
      ng-focus="$mdOpenMenu($event)"
      ng-model="vm.searchTerm[vm.property]"
      ng-required="vm.required"
      ng-minlength="1"
      ng-model-options="{ updateOn: 'blur', debounce: { default: 200 } }">
      <ng-messages for="vm.errors" ng-transclude></ng-messages>
  </md-input-container>
  <md-menu-content class="ual-autocomplete-content"
    width="3">
    <md-input-container
      ual-input
      ual-input-size="medium"
      ual-input-icon="ion-ios-search"
      class="search-autocomplete ual-input-no-validate">
      <input aria-label="autocomplete input"
        ng-model="vm.searchTerm[vm.property]"
        ng-blur="vm.checkSelectedItem()"
        ng-minlength="1"
        ng-model-options="{ debounce: { default: 200 } }" >
    </md-input-container>
    <div class="ual-autocomplete-content-scroll">
      <ual-autocomplete-item ng-click="vm.selectItem(item)"
        ng-repeat="item in vm.items | filter:vm.searchTerm" >
        {{item[vm.property]}}
      </ual-autocomplete-item>
    </div>
  </md-menu-content>
</md-menu>
