@import '../../../../../../common/common';
// LAYOUT
.ual-variables-layout
  > .container {
      @include gridle(row);
      height: 100%;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      >.add-btns{
            margin: auto -33px;
            >.buttons{
              margin: 5px 0;
              >.ual-button{
                width: 100%;
                padding: 0 5px;
              }
            }
          }
      > .selected-variables {
          flex-basis: 30%;
          max-width: 30%;
          height: 100%;
          margin: 0;
          padding: 0 15px;
          .selected-list {
              height: calc(100% - 100px);
              margin-left: -7px;
              overflow: auto;
              margin-right: -15px;
              > .mCustomScrollBox {
                padding-right: 15px;
              }
              > .mCSB_inside > .mCSB_container {
                margin-right:  0;
              }
          }
          .empty-list {
              @include gridle(row row-align middle center);
              @include font-clanot-book(14);
              color: $color07;
              text-align: center;
              height: calc(100% - 100px);
              line-height: 1.5;
              div {
                max-width: 350px;
              }
          }
          .empty-search {
              @include gridle(row row-align middle center);
              height: calc(100% - 100px);
              @include font-clanot-book(14);
              color: $color07;
              text-align: center;
          }
      }
  }


// VARIATIONS
.ual-variables-layout
  > .container {
      > .selected-variables {
        border: 1px solid $color08;
        .selected-list {
          .selected-container.over {
            background-color: $color08;
          }
        }
      }
  }

