@import '../../../../../common/common';
// LAYOUT
.ual-data-source > ng-transclude {
  @include gridle(container);
  >.container {
    .search-area {
      @include gridle(row row-align middle);
      margin: 0;
      padding: 4px 0 25px 0;
      > * {
        @include gridle(6)
      }
    }
    .content-list {
      height: calc(100% - 120px);
      overflow-x: auto;
      padding: 10px 0;
      > .data-source-list {
        @include column-content(4);
        height: 100%;
      }
    }
  }
}

// VARIATIONS
