@import '../../../../../common/common';
// LAYOUT
.ual-data-source > ng-transclude {
  @include gridle(container);
  >.container {
    .search-area {
      @include gridle(row row-align middle);
      margin: 0;
      padding: 4px 0 25px 0;
      > * {
        @include gridle(6)
      }
    }
    .loading-message, .empty-search {
      @include gridle(12);
      @include font-clanot-book(16);
      color: $color07;
    }
    .content-list {
      height: calc(100% - 120px);
      padding: 10px 0;
      overflow-y: scroll;
      > .data-source-list {
        @include column-content(4);
      }
    }
  }
}

// VARIATIONS
