@import '../../../../../common/common';
// LAYOUT
ual-data-source {
  height: 100%;
  margin-left: -23px;
  margin-right: -12px;
  display: block;
  @include gridle(container);
  .search-area {
    @include gridle(row);
    padding-top: 6px;
    ual-input {
      @include gridle(5);
      padding-left: 34px;
    }
  }
  .content {
    height: calc(100% - 70px);
    padding: 4px 0;
    .empty-search,
    .loading-message {
      height: 100%;
    }
    .content-list {
      height: 100%;
      .elastic-container {
        @include gridle(row row-align middle);
        margin: 5px 0;
        padding: 5px 0;
        .datasource-group {
          @include gridle(12);
          > span {
            padding: 12px 5px 2px 14px;
            display: inline-block;
          }
        }
        ual-data-source-item {
          @include gridle(3);
        }
      }
    }
  }
}

//VARIANTS
ual-data-source {
  .empty-search,
  .loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-clanot-book(16);
    color: $color07;
  }
  .content-list {
    overflow-y: auto;
    overflow-x: hidden;
    .datasource-group {
      @include font-clanot-bold(16);
      color: $color06;
      > span {
        @include ellipses();
      }
    }
  }
}
