@import '../../../../common/common';

// MIXIN
@mixin input-invalid() { 
  border: 2px solid $alertHighColor;
  padding: 8px; 
  & + .icon-warning { 
    display: block;
  }

  &:focus {
    border: 2px solid $primaryLightBlueColor;
    padding: 8px;
    & + .icon-warning { 
      display: none;
    }      
  }  
}

// LAYOUT
login-form-input > div { 
  > label { 
    @include font-clanot-book(20);
    color: $secondaryFontColor;
  }
  > input { 
    @include gridle(12);
    @include font-clanot-book(16);
    width: 100%;
    color: $secondaryFontColor;    
    border: none;
    padding: 10px;
    margin-top: 15px;
    
    &:focus {
      border: 2px solid $primaryLightBlueColor;
      padding: 8px;
    }
  }
  > .icon-warning { 
    display: none;
    float: right;
    padding-right: 5px;
    margin-top: -32px;
    color: $alertHighColor;
    @include icon-warning(23);
  }    
  
  > input.ng-invalid.ng-touched {
   @include input-invalid();
  }
}

// VARIANTS
login-form-input.-invalid > div {
  > input { 
    @include input-invalid();
  }
}