@import '../../../../../common/common';
//Layout
ual-filters {
  display: block;
  height: 96%;
  margin-right: -12px;
  overflow-y: auto;
  overflow-x: hidden;
  .-filter-container{
    min-height: 80%;
    height: 80%;
  }
  .-condition-container{
    width: 100%;
    .-code{
      padding: 21px 15px;
    }
  }
}

//Variations
ual-filters {
  .-condition-container{
    background-color: $color08;
    .-code{
      line-height: 1.5em;
      .-highlight{
        @include font-clanot-bold(16);
      }
    }
  }
}

