@import '../common/common';
@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

// LOGIN
$login-header-font-size: rem(4.6);
$login-header-font-weight: $font-weight-light;
$login-header-color: $color-white;
$login-message-font-size: rem(1.6);

// DASHBOARD
$user-icon-size: rem(3.4);

// DASHBOARD / CONTENT
$content-dashboard-bg-color: $color-white;

// DASHBOARD / CONTENT / HEADER
$header-dashboard-height: $button-line-height;
$header-dashboard-h2: rem(3.4);
