@import '../common';

md-tabs {
  md-ink-bar {
    color: $tabs-inkbar-color;
    background: $tabs-inkbar-color;
    height: $tabs-inkbar-height;
  }
  .md-tab {
    font-size: $tabs-tab-font-size;
    text-transform: none;
    color: $tabs-tab-color;
    &.md-active {
      font-weight: bolder;
    }
    &.md-active, &:not([disabled]):hover {
      color: $tabs-tab-color-active;
    }
  }
  md-tabs-content-wrapper {
    padding: $tabs-tab-content-padding;
  }
}
