@import '../common';

// LAYOUT 
ual-modal { 
    @include gridle( container ); 
  
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}  

// VARIANTS
ual-modal.-yesno { 
  background: rgba($primaryWhiteColor, 0.9);  
  @include gridle(gutter 28% 0px);
  > ng-transclude {
      @include gridle( row row-align center);
  }
}

ual-modal.-fullmodal {
    background:  rgba($primaryWhiteColor, 0.9);
    > ng-transclude {
        height: 100%;
        max-height: 100%;
        @include gridle(gutter 8% 0px);
        @include gridle( row row-align center);
        > * {
            @include box-shadow(0, 0, 0, rgba($primaryWhiteColor, 0.9));
            height: 100%;
            width: 100%;
        }
    }   
}