@import '../common';

// LAYOUT 
ual-modal { 
    @include gridle( container ); 
  
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}  

// VARIANTS
ual-modal.-yesno { 
  background: rgba($primaryWhiteColor, 0.9);  
  
  > ng-transclude {
      @include gridle(gutter 50% 0px);
      @include gridle( row row-align center);
  }
}

ual-modal.-fullmodal {
    background:  rgba($primaryWhiteColor, 0.9);
    > ng-transclude {
        height: 100%;
        @include gridle(gutter 25% 0px);
        @include gridle( row row-align center);
        > * {
            width: 93%;
        }
    } 
}