// FONTS
@import "fonts/fonts";

// ICONS
@import "icons/icons";

// MIXINS
@import "mixins/mixins";

// COLOURS
$color00: #fff;
$color01: #002244;
$color02: #3271b1;
$color03: #62a9e3;
$color04: #8cbfea;
$color05: #cddc39;
$color06: #333333;
$color07: #7c848a;
$color08: #d4d4d4;
$color09: #667a8e;
$color10: #c0ddf4;
// COLOURS / ERROR
$color11: #cd202c;
$color12: #fac6ca;
// COLOURS / WARNING
$color13: #db8c0e;
$color14: #ffe0b2;
// COLOURS / SUCCESS
$color15: #6ead3d;
$color16: #d7edc8;
$color99: #000;
//OTHERS
$others01:#e9e9e9;

// COLOURS / OTHERS
$other03: #aeb3b6;
$other04: #ECECEB;
$other05: #e9e9e7;
$other06: #81c4ea;
$other07: #b0d4f1;
$other08: #6f9bc8;
$other09: #c1d4e7;
$other10: #bfddf3;
$other11: #B1D4F0;
$other12: #EAF3FB;


// BACKGROUND
$backgroundHighColor: $color01;
$backgroundMediumColor: $color02;
$backgroundLowColor: $color03;

// UI Kit / Alerts, Notification, ...

$alertHighColor: $color11;
$alertLowColor: $color12;
$warningHighColor: $color13;
$warningLowColor: $color14;
$successHighColor: $color15;
$successLowColor: $color16;
$messageHighColor: $color03;
$messageLowColor: $color00;

// COLOR
$color-cardinal: #CD202C;
$color-mine-shaft: #333333;
$color-geyser: #D9E1E7;
$color-gull-gray: #99A7B4;
$color-white: #FFFFFF;
$color-goblin: #44883E;
$color-chrome-white: #D7EDC8;
$color-golden-bell: #DB8C0E;
$color-frangipani: #FFE0B2;
$color-cupid: #FAC6CA;
$color-havelock-blue: #62A9E3;
$color-steel-blue: #4784B8;
$color-pear: #CDDC39;
$color-rolling-stone: #7C848A;
$color-alto: #D4D4D4;
$color-astral: #3271B1;
$color-danube: #6F9BC8;
$color-periwinkle-gray: #C1D4E7;
$color-oslo-gray: #878F94;

// COLOR / STATUS
$color-success-dark:  $color-goblin;
$color-success-light: $color-chrome-white;
$color-warning-dark:  $color-golden-bell;
$color-warning-light: $color-frangipani;
$color-error-dark:  $color-cardinal;
$color-error-light: $color-cupid;

// MATERIAL
@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}
@mixin rtl($prop, $ltr-value, $rtl-value) {
  #{$prop}: $ltr-value;
  [dir=rtl] & {
    #{$prop}: $rtl-value;
  }
}

// MATERIAL / LAYOUT
$baseline-grid: 6px;
$layout-left-right-padding: rem(4.6);
$layout-top-bottom-padding: rem(2.6);

// MATERIAL / FONTS
$font-family: 'ClanOT', sans-serif;
$font-size:   10px;
$title-font-size-base: rem(1.8);

$h1-font-size: title-font-size-base;
$h2-font-size: rem(2.0);

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-defaut-color: $color-mine-shaft;
$font-disabled-color: $color-geyser;
$font-error-color: $color-error-dark;

// MATERIAL / BUTTON
$button-margin: 0;
$button-font-size: rem(1.6);
$button-line-height: rem(3.4);
$button-text-transform: capitalize;
$button-disabled-color: $font-disabled-color;
$button-disabled-bg-color: $color-gull-gray;
$button-loading-size: rem(2.0);
$button-min-width: rem(6.4);
$button-left-right-padding: rem(2.0);
$button-border-radius: 0;
// MATERIAL / BUTTON / LARGE
$button-large-font-size: rem(1.8);
$button-large-line-height: rem(5.0);
$button-large-loading-size: rem(3.0);
// MATERIAL / BUTTON / ICON
$icon-button-margin-offset: 0;

// MATERIAL / LINK (BUTTON)
$link-font-size: rem(1.6);
$link-left-right-padding: rem(0.5);
$link-color: $color-astral;
$link-color-hover: $color-danube;
$link-color-disabled: $color-periwinkle-gray;
$link-icon-color: $color-oslo-gray;

// MATERIAL / PROGRESS
$loading-disabled-color: $font-disabled-color;

// MATERIAL / INPUT
$input-padding: 6px;
$input-border: 1px;
$input-line-height: rem(3.2);
$input-font-size: rem(1.6);
$input-font-color: $font-defaut-color;
$input-focus-color: $color-havelock-blue;
// MATERIAL / INPUT / LARGE
$input-large-border: 2px;
$input-large-line-height: rem(4.2);

// MATERIAL / TOAST
$toast-margin: 0;
$toast-border-radius: 0;
$toast-height: rem(5.2);
$toast-font-size: rem(1.8);
$toast-font-weight: $font-weight-bold;
$md-toast-content-padding: 0;

$toast-success-bg-color: $color-success-light;
$toast-success-color: $color-success-dark;
$toast-warning-bg-color: $color-warning-light;
$toast-warning-color: $color-warning-dark;
$toast-error-bg-color: $color-error-light;
$toast-error-color: $color-error-dark;

// MATERIAL / TOOLBAR
$toolbar-tools-height: rem(5.2);
$toolbar-padding: $layout-left-right-padding;

// MATERIAL / MENU / ITEM
$menu-item-height: rem(4.6);
$menu-item-font-size: rem(1.6);
$menu-item-font-weight: $font-weight-light;
$menu-item-color: $color-white;
$menu-item-bg-color: $color-havelock-blue;
$menu-item-bg-hover: $color-steel-blue;
$menu-item-border-hover: $color-pear;
$menu-item-border-width: 4px;

// MATERIAL / LIST / ITEM
$list-item-height: rem(5.6);
$list-item-font-size: rem(1.6);
$list-item-font-weight: $font-weight-light;
$list-item-color: $color-white;
$list-item-bg-color: $color-havelock-blue;
$list-item-bg-hover: $color-steel-blue;
$list-item-border-hover: $color-pear;
$list-item-border-width: 4px;

// MATERIA / SIDENAV
$sidenav-mobile-width: 260px;
$sidenav-bg-color: $color-havelock-blue;

// MATERIAL / BACKDROP
$backdrop-bg-color: $color-white;

// MATERIAL / DIALOG
$dialog-padding: rem(4.4) rem(2.8) rem(2.8);
$dialog-width: rem(58.0);
$dialog-border-radius: 0;
$dialog-bottom: 20%;
$dialog-title-color: $color-rolling-stone;
$dialog-content-font-size: rem(1.6);
$dialog-content-color: $color-mine-shaft;
$dialog-border: 1px solid $color-alto;

// MATERIAL / TABS / INKBAR
$tabs-inkbar-color: $color-havelock-blue;
$tabs-inkbar-height: 3px;
// MATERIAL / TABS / TAB
$tabs-tab-font-size: rem(1.6);
$tabs-tab-color: $color-rolling-stone;
$tabs-header-height: rem(3.6);
$tabs-tab-content-padding: rem(1.8) 0 0 0;
// MATERIAL / TABS / TAB / ACTIVE
$tabs-tab-color-active: $color-mine-shaft;
