// FONTS
@import "fonts/fonts";

// ICONS
@import "icons/icons";

// MIXINS
@import "mixins/mixins";

// COLOURS
$color00: #fff;
$color01: #002244;
$color02: #3271b1;
$color03: #62a9e3;
$color04: #8cbfea;
$color05: #cddc39;
$color06: #333333;
$color07: #7c848a;
$color08: #d4d4d4;
$color09: #667a8e;
$color10: #c0ddf4;
$color99: #000;

// BACKGROUND
$backgroundHighColor: $color01;
$backgroundMediumColor: $color02;
$backgroundLowColor: $color03;

// UI Kit / Alerts, Notification, ...
$alertHighColor: #EF1A28;
$alertLowColor: #FFBDC1;
$warningHighColor: #db8c0e;
$warningLowColor: #ffe0b2;
$successColor: #44C339;
$successColor: #CFEEC8;
$notificationHighColor: $color03;
$notificationLowColor: #C8E6F8;
