@import '../common';

// LAYOUT
.ual-clusterize-table {
  position: relative;
  height: 100%;

  > table {
    padding-right: 17px;
  }

  td, th {
    padding: 0 35px;
    height: 36px;
    max-height: 36px;
    width: auto;
    &:last-child {
      padding: 0 5px;
    }

    // TYPE
    &.-check {
      width: 30px;
      padding-left: 10px;
      padding-right: 0;
    }
    &.-expand {
      width: 99%;
      padding-top: 8px;
      padding-left: 6px;
    }
    &.-shrink {
      white-space: nowrap;
    }
    &.-date {
      width: 250px;
      white-space: nowrap;
    }
    &.-actions {
      width: 250px;
    }

    // ALIGN
    &.-right {
      text-align: right;
    }
    &.-left {
      text-align: left;
    }

  }
  > .clusterize-scroll {
    position: absolute;
    width: calc(100% + 17px); //  SHOWS SCROLLBAR
    padding-right: 17px;      //  OUT OF TABLE
    @include -ms-browser() {
      padding-right: 0;
    }
    height: calc(100% - 40px);
    overflow-y: scroll;
    padding-bottom: 1px; // SHOWS LAST ITEM LINE
  }
  .clusterize-no-data {
    text-align: center;
    height: 300px;
  }
}

// VARIANT
.ual-clusterize-table {
  thead {
    border-top: 1px solid $color08;
  }
  tr {
    border-bottom: 1px solid $color08;
  }
  td, th {
    // STYLE
    &.-link, &.-link a {
      @include link();
    }
    &.-ellipsis {
      @include ellipses();
      display: inline-block;
    }
    &.-actions > .-action {
      margin-left: 20px;
      font-size: 20px;
      display: inline-block;
      &:last-child {
        margin-left: 25px;
        cursor: pointer;
      }
      ual-tooltip {
        display: none;
      }
    }
  }
  th {
    @include font-clanot-news(16);
    color: $color06;
    white-space: nowrap;
    &.-check {
      width: 29px;
      display: inline-block;
    }
    &.-check:hover {
      cursor: default;
      background: none;
    }
    &:hover {
      cursor: pointer;
      background-color: $color08;
    }
    &.-actions:hover {
      cursor: default;
      background: none;
    }
  }
  td {
    @include font-clanot-book(14);
    color: $color06;
    &.-actions {
      opacity: 0;
    }
  }
  .clusterize-content tr:hover {
    background-color: $other10;
    .-actions {
      opacity: 1;
      .-action:hover ual-tooltip {
        display: block;
      }
    }
    ual-checkbox {
      visibility: visible;
    }
    .-link, .-link a {
      color: $color06;
    }
  }
  .clusterize-no-data {
    @include font-clanot-book(14);
    color: $color07;
    border-bottom: none;
    &:hover {
      background-color: $color00; //TODO: No toma el background
    }
  }
}
