@import '../../../../common/common';

.ual-report-form {
    @include gridle_container();
    min-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    margin-left: 50px;
    margin-right: 50px;

    .appName {
        @include font-clanot-book(20);
        font-weight: bold;
        color: #333333;
        margin-top: 30px;
    }

    .reportName {
        @include font-clanot-book(28);
        color: #7c848a;
        padding: 0 0 15px 0;

        > div {
            margin-left: 10px;
        }
    }

    .info {
        padding: 15px 0 15px 0;

        > div {
            margin-left: 10px;

            > span {
                color: #7c848a;
            }
        }
    }

    .separatorLine {
        border-bottom: 1px solid #e9e9e7;
    }

    > div {
        @include gridle (row row-align between);
    }

    ual-button {
        margin: 30px;
        width: 160px;
    }

    .slicers {
        display: none;

        > div {
            border: 1px solid #e9e9e7;
            width: 16%;
            height: 400px;
        }
    }
}
