@import '../../../../common/common';
ual-report-form {
    @include gridle_container();
    > .report-header {
        @include gridle(row row-align between);
        >.title {
            @include font-clanot-bold(20);
            color: $color06;
        }
        >.save-button {
            width: 165px;
        }
    }
    > .report-body {
        > .section {
            border-bottom: 1px solid $color08;
        }
        .report-name {
            @include gridle(row);
            padding: 20px 0;
            >.title {
                @include gridle(6);
                @include font-clanot-book(24);
                color: $color07;
            }
        }
        .selected-parameters {
            @include gridle(row);
            padding: 30px 0;
            >.selected-parameter {
                @include gridle(6);
                >.title {
                    @include font-clanot-book(16);
                    color: $color07;
                }
                >.value {
                    @include font-clanot-bold(16);
                    color: $color06;
                }
                >.action {
                    margin-left: 5px;
                    @include link();
                    font-size: 14px;
                }
            }
        }
        .aggregations-values {
            @include gridle(row);
            padding: 25px 0;
            > .aggregation-search {
                padding-bottom: 8px;
                @include gridle(12);
                .-label {
                    display: inline-block;
                    @include font-clanot-book(16);
                    color: $color07;
                    width: 110px;
                }
                ual-input {
                    position: relative;
                    display: inline-block;
                    width: 350px;
                    i {
                        @include -ms-browser() {
                            margin-top: 6px;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                    ual-dropdown {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 34px;
                        border-bottom-style: none;
                        .-message {
                            span {
                                display: inline-block;
                            }
                            .-no-result {
                                padding: 15px 0;
                            }
                            .-max-reached {
                                color: $warningHighColor;
                                background: $warningLowColor;
                                width: 100%;
                                padding-top: 1px;
                                @include font-clanot-bold(12);
                                > span {
                                    margin: auto 0;
                                }
                                > .-icon-warning {
                                    vertical-align: middle; 
                                    @include -ms-browser {
                                        vertical-align: sub;
                                    }
                                    @include -moz-browser(){
                                        vertical-align: bottom;
                                    }
                                    font-size: 12px;
                                    margin: auto 0;
                                    @include icon-warning(14);
                                }
                            }
                        }
                    }
                }
            }
            >.aggregation-items {
                @include gridle(12);
                > .aggregated-container {
                    @include gridle(row);
                    padding-left: 120px !important;
                    > ual-agregation-item {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        display: inline-block;
                        width: 20%;
                        height: 32px;
                    }
                }
            }
        }
    }
}