@import '../../../../../common/common';
ual-agregation-item {
    padding: 4px 5px;
    label {
        @include gridle(12);
        border: 1px solid $color08;
        background-color: $color00;
        color: $color06;
        padding: 0 3px;
        @include font-clanot-book(14);
        > span {
            vertical-align: middle;
            width: calc(100% - 18px);
            @include ellipses();
            display: inline-block;
        }
        > i {
            vertical-align: middle;
            display: inline-block;
            color: $color07;
            font-size: 34px;
            line-height: 0.8;
            @include -ms-browser(){
                margin-top: 2px;
                line-height: 1;
            }
            cursor: pointer;
        }
    }
}

//Variations
ual-agregation-item {
    label {
        &:hover {
            background-color: $others01;
        }
    }
}