@import '../../../../../../common/common';

//Layout
ual-data-source-group {
  .datasource-group{
    padding: 5px 5px 5px 14px;
  }
}

ual-data-source-group {
  display: block;
  @include break-inside();
  .datasource-group{
    @include font-clanot-bold(16);
    color: $color06;
    > span{
        @include ellipses();
        display: inline-block;
        width: 100%;
    }
  }
}
