@import '../components';

.login {
  height: 100vh; // fill 100% of screen
  @include linear-gradient(to top, $backgroundHighColor 0%, $backgroundLowColor 50%, $backgroundMediumColor 100%);
}

.login > .login-container {

  .login-header {
    margin-bottom: 25px; // separation with the form
    > .title {
      font-size: $login-header-font-size;
      font-weight: $login-header-font-weight;
      margin-top: 8px;
      color: $login-header-color;
    }
  }

  > login-form {
    height: 460px;
    width:  460px;
    display: block;
  }
}
