@import '../../../../../../common/common';

// LAYOUT
ual-variables-group {
    border-top: 1px solid $color00;
    display: block;
    overflow: hidden;

    .group-name {
        background-color: $color04;
        border-left: 3px solid $color10;
        color: $color00;
        height: 36px;
        padding: 9px 14px;

        &:hover {
            cursor: pointer;
        }
    }
}

// VARIANTS
ual-variables-group {

    >.group-item {
        display: none;
    }
}

ual-variables-group.-open {    
    @include transition(top 0.25s ease-in); 

    >.group-item {
        display: block;
        /*height: 250px;*/
        height: auto;
        max-height: 250px;
        overflow-y: auto;
    }
}
