@import '../../../../../../common/common';

// LAYOUT
ual-variables-group {

    > .variables-groups {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        > li {
            display: block;
            text-decoration: none;

            > .group-name {
                background-color: $color04;
                border-top: 1px solid $color00;
                border-bottom: 1px solid $color00;
                border-left: 3px solid $color10;
                color: $color00;
                height: 36px;
                padding: 9px 14px;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

// VARIANTS
ual-variables-group {
    > .variables-groups {

        > .group-item {
            display: block;
            top: -36px;
            @include transition(left .3s ease-out);
        }
    }
}

ual-variables-group.-open {
    left: 0;
}
