@import '../../../../../../common/common';


//LAYOUT
ual-variables-multi-select {
  .-avaiable-variables{
    margin-top: 20px;
    //height: calc(70%);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    max-height:  200px;
    li{
      padding: 5px 6px;
      cursor: pointer;
    }
  }
}

//VARIANTS
ual-variables-multi-select {
  .-avaiable-variables{
     -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    .selected{
        background-color: $color10;
        font-weight: bold;
        outline: 1px solid $color00;
      }
  }
}

ual-variables-multi-select {

  hr{
    width: 95%;
    margin: 10px auto;
    border-color: $color08;
  }
  .ual-button{
    width: 80%;
    margin: 0px calc(10%);
    margin-bottom: 15px;
  }
}
