@import '../../../common/common';

// LAYOUT 
<%= dashName %> { 
  @include gridle( col );
	width: 582px;
  z-index: 2000;
  
  > .top { 
    @include gridle( row row-align right );
    margin: 0 14px;
  }
}

// VARIATIONS
<%= dashName %> {
  background: $primaryWhiteColor;
  @include box-shadow(0, 6px, 15px, rgba(0, 0, 0, 0.3));
  
  > .top { 
    font-size: 44px;
    color: $primaryLightGreyColor;
    > i {
      cursor: pointer;
    }
  }
} 