@import '../../../../../../common/common';

// LAYOUT
ual-variable-selected-item {
  @include gridle(row row-align middle between);
  display: list-item;
  margin: 0;

  > .variable-container {
    @include gridle(gutter 7px 0 7px 7px);
    margin: auto 0;

    > .variable-order {
      width: 35px;
      padding: 0px;
      @include -ms-browser() {
        padding-top: 2px;
      }
    }
    > .variable-description {
      display: inline-block;
      width: calc(100% - 40px);
    }
  }

  > .variable-actions {
    @include gridle(gutter 14px);

    > .variable-delete {
      vertical-align: middle;
    }
  }
}

// VARIATIONS
ual-variable-selected-item {
  -webkit-user-select: none; // event if it's not necessary, let's just add it
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;

  > ual-tooltip {
    z-index: 10;
    visibility: hidden;
  }
  > .variable-container {
    width: calc(100% - 30px);    

    > .variable-order {
      -webkit-user-select: none; // event if it's not necessary, let's just add it
      -ms-user-select: none;
      user-select: none;
      @include font-clanot-news(12);
      text-align: center;
      vertical-align: middle;
      border: 1px solid $color08;
    }

    > .variable-description {
      @include ellipses();
      vertical-align: middle;
      cursor: move;
      > .variable-name {
        @include font-clanot-news(14);
        color: $color06;
        margin-left: 5px;
      }

      > .variable-group {
        @include font-clanot-book(14);
        color: $color07;
        margin-left: 5px;
      }
    }

  }

  > .variable-actions {
    > .variable-delete {
      visibility: hidden;
      font-size: 30px;
      color: $color00;
      cursor: pointer;
    }
  }
}

// VARIATION / ERROR
ual-variable-selected-item {
  > ual-tooltip.error {
    top: -95px;
    left: -85px;
    visibility: visible;
  }
  > .variable-container.error {
    > .variable-order {
      border: 2px solid $color11;
    }
  }
}

// VARIATION / HOVER
ual-variable-selected-item.-hovered {
  background-color: $color10;
  > .variable-actions > .variable-delete {
    visibility: visible;
  }
}
