@import '../../../../../../common/common';

// LAYOUT
ual-variable-selected-item {
  @include gridle(row row-align between);
  display: list-item;
  height: 31px;
  margin: 0;
  cursor: move;

  > .variable-container {
    @include gridle(gutter 14px);
    margin: auto 0;

    > .variable-order {
      width: 35px;
      padding: 0px;
    }
  }

  > .variable-actions {
    @include gridle(gutter 14px);

    > .variable-delete {
      vertical-align: middle;
    }
  }
}

// VARIATIONS
ual-variable-selected-item {
  > .variable-container {
    @include ellipses();
    width: calc(100% - 30px);

    > .variable-order {
      @include font-clanot-news(12);
      text-align: center;
    }

    > .variable-name {
      @include font-clanot-news(14);
      color: $color06;
      margin-left: 5px;
    }

    > .variable-group {
      @include font-clanot-book(14);
      color: $color07;
      margin-left: 5px;
    }
  }

  > .variable-actions {
    > .variable-delete {
      visibility: hidden;
      font-size: 30px;
      color: $color00;
      cursor: pointer;
    }
  }
}

ual-variable-selected-item:hover {
  background-color: $color10;

  > .variable-actions > .variable-delete {
    visibility: visible;
  }
}
